.data-hora {
    text-align: center;
}

#btn-dialog-fechar {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 18px;
}

#btn-dialog-fechar:hover {
    color: rgb(200, 0, 0);  
}